<!DOCTYPE html>
<html>
<head>
  <title>Google Analytics (<%= settings.period.capitalize %>)</title>
  <style type="text/css">
    body {
      background: #fff;
      color: #000;
    }
  </style>
</head>
<body>
  <h1>Google Analytics on Little Printer (<%= settings.period.capitalize %>)</title></h1>

  <% if settings.maximum_profiles == 1 %>
    <p>Please choose one of your Google Analytics Profiles.</p>
  <% else %>
    <p>Please choose the Google Analytics Profile(s) you'd like in your subscription (you can have up to <%= settings.maximum_profiles %>).</p>
  <% end %>


  <% if @form_error %>
    <p class="error"><%= @form_error %></p>
  <% end %>


  <form method="post" action="<%= url('/'+settings.period+'/local_config/') %>">
    <ul>
    <% @accounts_properties_profiles.each do |a_id, a_data| %>
      <% if a_data['properties'].length > 0 %>
        <li><%= a_data['name'] %>
          <ul>
            <% a_data['properties'].each do |wp_id, wp_data| %>
              <% if wp_data['profiles'].length > 0 %>
                <li><%= wp_data['name'] %>
                  <ul>
                    <% wp_data['profiles'].each do |p_id, p_data| %>
                      <li><input type="checkbox" name="profiles[]" value="<%= p_id %>" id="p<%= p_id %>" />
                        <label for="p<%= p_id %>"><%= p_data['name'] %></label>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
    </ul>

    <p>
      <input type="submit" value="Submit" />
    </p>

  </form>

</body>
</html>
