
    <h1 class="config-title"><%= format_title %></title></h1>

    <p class="config-intro">
      <% if settings.maximum_profiles == 1 %>
        Please choose one of your Google Analytics Profiles.
      <% else %>
        Please choose the Google Analytics Profile(s) you'd like in your subscription (you can have up to <%= settings.maximum_profiles %>).
      <% end %>
    </p>

    <% if @form_error %>
      <p class="config-error"><%= @form_error %></p>
    <% end %>


    <form method="post" action="<%= url('/'+settings.frequency+'/local_config/') %>">
      <ul class="config-list config-list-accounts">
      <% @accounts_properties_profiles.each do |a_id, a_data| %>
        <% if a_data['properties'].length > 0 %>
          <li><%= a_data['name'] %>
            <ul class="config-list config-list-properties">
              <% a_data['properties'].each do |wp_id, wp_data| %>
                <% if wp_data['profiles'].length > 0 %>
                  <li><%= wp_data['name'] %>
                    <ul class="config-list config-list-profiles">
                      <% wp_data['profiles'].each do |p_id, p_data| %>
                        <li><input type="checkbox" name="profiles[]" value="<%= p_id %>" id="p<%= p_id %>" />
                          <label for="p<%= p_id %>"><%= p_data['name'] %></label>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
      </ul>

      <p>
        <input type="submit" value="Submit" class="config-submit" />
      </p>

    </form>
