<!DOCTYPE html>
<html>
<head>
  <title>Google Analytics (<%= settings.frequency.capitalize %>)</title>
  <script src="../../js/d3.min.js"></script>
  <script src="../../js/rickshaw.min.js"></script>
  <style type="text/css">
    body {
      background: #fff;
      color: #000;
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
    }
  </style>
  <script>

  window.document.onload = function() {
    document.getElementById('document-onload').innerText = "DOCUMENT ONLOAD";
  };
  window.onload = function() {
    document.getElementById('window-onload').innerText = "WINDOW ONLOAD";

    <% @profiles_data.each_with_index do |p, idx| %>
      var graph = new Rickshaw.Graph({
        element: document.querySelector("#chart-<%= idx %>"),
        width: 350,
        height: 100,
        renderer: 'line',
        series: [{
          data: [ 
            <% p[:periods][1][:visits].each_with_index do |v, col| %>
              { x: <%= col %>, y: <%= v.visits %> },
            <% end %>
            ],
            color: '#999999'
        },{
          data: [ 
            <% p[:periods][0][:visits].each_with_index do |v, col| %>
              { x: <%= col %>, y: <%= v.visits %> },
            <% end %>
            ],
            color: '#000000'
        }]
      });
      graph.render();
    <% end %>
  };

  </script>

</head>
<body>
  <h1>Google Analytics (<%= settings.frequency.capitalize %>)</h1>

  <p id="window-onload"></p>
  <p id="document-onload"></p>
   
  <% @profiles_data.each_with_index do |p, idx| %>
    <h2><%= p[:name] %></h2>

    <% if p[:periods][0][:start_date] == p[:periods][0][:end_date] %>
      <p>For <%= p[:periods][0][:start_date] %>.</p>
    <% else %>
      <p>From <%= p[:periods][0][:start_date] %> to <%= p[:periods][0][:end_date] %>.</p>
    <% end %>

    <h3>Visits</h3>

    <div id="chart-<%= idx %>"></div>

<% 
=begin %>
    <h4><% if settings.frequency == 'weekly' %>Last week<% else %>Yesterday<% end %></h4>
    <ul>
      <% p[:periods][0][:visits].each do |v| %>
        <li><%= v.date %><% if settings.frequency == 'daily' %> <%= v.hour %>:00<% end %> – <%= v.visits %></li>
      <% end %> 
    </ul>

    <h4>Previous</h4>
    <ul>
      <% p[:periods][1][:visits].each do |v| %>
        <li><%= v.date %><% if settings.frequency == 'daily' %> <%= v.hour %>:00<% end %> – <%= v.visits %></li>
      <% end %> 
    </ul>
<% 
=end %>

    <h3>Totals</h2>
    <p>Visits: 
      <% if p[:periods][0][:total_visits] > p[:periods][1][:total_visits] %>
      ^
      <% elsif p[:periods][0][:total_visits] < p[:periods][1][:total_visits] %>
      v
      <% else %>
      –
      <% end %>
      <%= p[:periods][0][:total_visits] %> (<%= p[:periods][1][:total_visits] %>)</p>
    <p>Visitors: 
      <% if p[:periods][0][:total_visitors] > p[:periods][1][:total_visitors] %>
      ^
      <% elsif p[:periods][0][:total_visitors] < p[:periods][1][:total_visitors] %>
      v
      <% else %>
      –
      <% end %>
      <%= p[:periods][0][:total_visitors] %> (<%= p[:periods][1][:total_visitors] %>)</p>
    <p>Pageviews:
      <% if p[:periods][0][:total_pageviews] > p[:periods][1][:total_pageviews] %>
      ^
      <% elsif p[:periods][0][:total_pageviews] < p[:periods][1][:total_pageviews] %>
      v
      <% else %>
      –
      <% end %>
      <%= p[:periods][0][:total_pageviews] %> (<%= p[:periods][1][:total_pageviews] %>)</p>
  <% end %>



</body>
</html>
