<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title><%= format_title %></title>

  <style type="text/css">
    body {
      background: #fff;
      color: #000;
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
    h1 {
      border-top: 5px solid #000;
      margin: 20px 0 0 0;
      padding: 10px 10px;
      font-size: 24px;
    }
    h2 {
      background: #000;
      color: #fff;
      padding: 5px 10px;
      margin: 0 0 10px 0;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
    }
    h3 {
      font-size: 16px;
      margin: 10px;
      padding: 0;
    }
    p, table {
      margin: 0 0 10px 0;
      padding: 0 10px;
    }
    p.error {
      border-top: 5px solid #000;
      border-bottom: 5px solid #000;
      margin: 0 0 10px 0;
      padding: 10px;
    }
    .profile {
      margin-bottom: 20px;
    }
    .profile:last-child {
      border-bottom: 5px solid #000;
      padding-bottom: 20px;
    }
    .totals {
      margin-top: 20px;
    }
    table {
      margin: 0 auto;
    }
    td {
      padding-right: 10px;
    }
    td.label {
      font-weight: bold;
      text-align: right;
    }
    td.indicator {
    }
    td.num {
      text-align: right;
    }
    td.num-recent {
      font-weight: bold;
    }

    /************************************************************************/
    /* Default styles for LPChart. */

    /*
    These are the defaults for lines drawn on the chart.
    Each line will also have a unique class like .line-1 or .line-2, numbered
    sequentially from 1.
    */
    .line {
      fill: none;
      stroke-width: 1px;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    /*
    The styles below apply to both x and y axes. Each also has its own class,
    either .axis-x or .axis-y */

    /* The labels on an axis. */
    .axis text {
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
    /* The single main line showing an axis. */
    .axis path {
      stroke: #000;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    /* The tick marks or grid lines for an axis. */
    .axis .tick line {
      stroke: #000;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    /* End default LPChart styles. */
    /************************************************************************/

    .chart {
      margin: 0 0 0 10px;
    }
    .line-2 {
      stroke-width: 4px;
    }
  </style>

  <%# Include the d3 JS so that it renders inline. The BERG Cloud renderer seems to have problems when JS files are included as scripts. %>
  <%= erb(:js_d3, :layout => false) %>
  <%= erb(:js_lpchart, :layout => false) %>

  <script>
    window.onload = function() {

      // Set up the chart instance:
      var chart = LPChart().showYAxisGrid(true).height(180);

      <% @profiles_data.each_with_index do |p, profile_idx| %>
        // The data will contain two arrays, one for each line.
        var chart_data = [[],[]];

        <% p[:periods][1][:visits].each_with_index do |v, visit_idx| %>
          <% if settings.frequency == 'weekly' %>
            // Will be like 'YYYY-MM-DD'.
            date = '<%= v.date[0, 4] %>-<%= v.date[4, 2] %>-<%= v.date[6, 2] %>';
          <% else %>
            // Will be like '15:00'.
            date =  '<%= v.hour %>:00';
          <% end %>
          // Least recent:
          chart_data[0].push([date, <%= v.visits %>]);
          // Most recent:
          chart_data[1].push([
            date,
            <%= p[:periods][0][:visits].to_a[visit_idx].visits %>
          ]);
        <% end %>

        <% if settings.frequency == 'weekly' %>
          chart.xAxisType('weekday').xAxisTickValues(null);
        <% else %>
          chart.xAxisType('hour').xAxisTickValues(['00:00', '04:00', '08:00', '12:00', '16:00', '20:00']);
        <% end %>

        d3.select('#chart-'+<%= profile_idx %>)
          .datum(chart_data)
          .call(chart);

      <% end %>
    };

  </script>

</head>
<body>

  <h1><%= format_title %></h1>

  <% if @profiles_data.length == 0 %>
    <p class="error">There are no valid Google Analytics Profiles to display. You might need to unsubscribe from this publication and re-subscribe.</p>
  <% end %>

  <% @profiles_data.each_with_index do |p, idx| %>
    <div class="profile">
      <h2><%= p[:name] %></h2>

      <p class="date">
        <% if settings.frequency == 'weekly' %>
          <%= format_day_period(@periods[0]) %> compared to previous&nbsp;week
        <% else %>
          <%= @periods[0][:start].strftime('%a %e %b %Y') %> compared to previous&nbsp;<%= @periods[1][:start].strftime('%A') %>
        <% end %>
      </p>

      <h3>Visits <% if settings.frequency == 'weekly' %>each day<% else %>per hour<% end %></h3>

      <div id="chart-<%= idx %>" class="chart"></div>

      <table class="totals">
        <tr>
          <td class="label">Visits</td> 
          <td class="indicator">
            <%= format_indicator(p[:periods][0][:total_visits], p[:periods][1][:total_visits]) %>
          </td>
          <td class="num num-recent">
            <%= format_number(p[:periods][0][:total_visits]) %>
          </td>
          <td class="num">
            (<%= format_number(p[:periods][1][:total_visits]) %>)
          </td>
        </tr>

        <tr>
          <td class="label">Visitors</td>
          <td class="indicator">
            <%= format_indicator(p[:periods][0][:total_visitors], p[:periods][1][:total_visitors]) %>
          </td>
          <td class="num num-recent">
            <%= format_number(p[:periods][0][:total_visitors]) %>
          </td>
          <td class="num">
            (<%= format_number(p[:periods][1][:total_visitors]) %>)
          </td>
        </tr>

        <tr>
          <td class="label">Pageviews</td>
          <td class="indicator">
            <%= format_indicator(p[:periods][0][:total_pageviews], p[:periods][1][:total_pageviews]) %>
          </td>
          <td class="num num-recent"> 
            <%= format_number(p[:periods][0][:total_pageviews]) %>
          </td>
          <td class="num">
            (<%= format_number(p[:periods][1][:total_pageviews]) %>)
          </td>
        </tr>

      </table> <!-- .totals -->
    </div> <!-- .profile -->
  <% end %>

</body>
</html>
